@import "../base/Settings.scss";

#modal-container {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 100%, 0.5);

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: opacity(0.3);
  @include flex(column, center, center);
  // @media (min-width: $mobile-width) and (max-width: $tablet-width) {
  //   justify-content: center;
  // }
  // @media (min-width: $desktop-width) {
  //   justify-content: center;
  // }
  #modal-box {
    width: 100%;
    max-width: 500px;
    height: max-content;
    padding: 1rem;
    position: relative;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid #232323;
    @include flex(column, flex-start, flex-start);
    #close-modal-btn {
      border: 1px solid $incorrect;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $white;
      border-radius: 5px;
      position: absolute;
      right: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1rem;
      padding: 0;
    }
  }
}

#instructions {
  ul {
    padding-left: 1rem;
    li {
      list-style-position: inside;
    }
  }
  .example-cells {
    @include flex(row, space-between, center);
    width: 210px;
    .example-cell {
      font-weight: 700;
      font-size: 36px;
      line-height: 2.1rem;
      @include flex(row, center, center);
      aspect-ratio: 1;
      height: 100%;
      background-color: #fcfcfc;
      outline: 2px solid #ddd;
      aspect-ratio: 1;
      height: 35px;
      &.correct {
        background-color: $correct;
      }
      &.almost {
        background-color: $almost;
      }
      &.incorrect {
        background-color: $incorrect;
      }
    }
  }
}

#game-finished {
  min-height: 200px;
  // #guessed-result{

  // }
  // #not-guessed-result{

  // }
}
